.farmers-table td .mat-icon-button {
  margin-right: 8px;
  cursor: pointer;
}

.mat-icon-button {
  cursor: pointer;
}

.no-data {
  text-align: center;
  padding: 16px;
  color: rgba(0, 0, 0, 0.54);
}
