<mat-toolbar color="primary">
  <img src="assets/images/logo.png" class="app-logo" alt="Climatrack logo">

  <span class="spacer"></span>

  <button mat-button (click)="goHome()">
    <mat-icon>home</mat-icon>
    Accueil
  </button>

  <button mat-raised-button color="accent" (click)="addAgriculteur()">
    <mat-icon>add</mat-icon>
    Ajouter Agriculteur
  </button>

  <a mat-button routerLink="/admin/admin-profile">
    <mat-icon>person</mat-icon>
    Profil
  </a>

  <button mat-stroked-button color="warn" (click)="deconnexion()">
    <mat-icon>logout</mat-icon>
    Déconnexion
  </button>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
