<mat-toolbar>
  <img src="assets/images/logo.png" class="app-logo" alt="Climatrack logo" height="40%" width="30%">
  <span class="spacer"></span>

  <a mat-button routerLink="/accueil">Accueil</a>
  <a mat-button routerLink="/profil">Profil</a>
  <button mat-stroked-button color="primary" (click)="ajouterParcelle()">Ajouter une parcelle</button>
  <button mat-stroked-button color="warn" (click)="deconnexion()">Déconnexion</button>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>